{
	"extends": "eslint-config-synacor",
	"globals": {
		"miro": "readonly"
	},
	"settings": {
		"react": {
			"pragma": "h"
		}
	},
	"rules": {
		"semi": ["warn", "always"],
		"brace-style": 0,
		"quotes": ["warn", "single"],
		"arrow-parens": ["warn", "as-needed"],
		"arrow-body-style": [2, "as-needed"],
		"comma-dangle": [1, "always-multiline"],
		"no-redeclare": 2,
		"react/prop-types": 0,
		"no-unused-vars": [
			1,
			{
				"ignoreRestSiblings": true,
				"varsIgnorePattern": "css"
			}
		],
		"lines-between-class-members": 1,
		"no-magic-numbers": [
			"error",
			{
				"ignore": [-1, 0, 1, 10, 60, 100, 1000],
				"ignoreArrayIndexes": false,
				"enforceConst": true,
				"detectObjects": false
			}
		]
	}
}
