.wrapper {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.cardWrapper {
	flex-grow: 1;
	flex-basis: 33%;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

@keyframes floating {
	from {
		transform: translate(0, 0px);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	}
	65% {
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
		transform: translate(0, -2px);
	}
	to {
		transform: translate(0, -0px);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	}
}

.card {
	display: flex;
	width: 8em;
	height: 12em;
	border-radius: 1em;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	will-change: transform;
	transition: 200ms all;
	border: none;
	cursor: pointer;
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	}
	&:active {
		transform: translateY(0);
		box-shadow: 0 0px 1px rgba(0, 0, 0, 0.6);
	}
	&:focus {
		outline: none;
		box-shadow: 0 4px 6px rgba(17, 17, 168, 0.6);
		animation-name: floating;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}
